html {
    font-style: 16px;
    /* font-family: 'SmileySans-Oblique'; */
}

* {
    margin: 0;
    padding: 0;
}

body {
    border: 5px solid #000;
    border-radius: 1px;
}

input[id='Menu'] {
    display: none;
}

header {
    box-sizing: border-box;
    margin: 0 5%;
    padding: 80px 0 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.toggle {
    margin-right: 50px;
    padding: 5px;
    width: 40px;
    flex-shrink: 0;
    cursor: pointer;
}

.toggle .bar {
    margin-top: 8px;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: all .3s;
}

.toggle .bar:nth-of-type(1) {
    margin: 0;
}

input[id='Menu']:checked~header .toggle .bar:nth-of-type(2), .toggle:hover .bar:nth-of-type(2) {
    width: 80%;
}
input[id='Menu']:checked ~ header .toggle .bar:nth-of-type(3), .toggle:hover .bar:nth-of-type(3) {
    width: 60%;
}

header .WebLogo {
    font-size: 1.8rem;
    font-family: Herculanum;
    color: #000;
    text-decoration: none;
    transform: translate(0, 12px);
    user-select: none;
}

.main .title h1 {
    margin: 40px 0 20px 0;
    text-align: center;
    font-size: 5rem;
    letter-spacing: .2rem;
    color: #000;
}

.main .title h2 {
    text-align: center;
    font-size: 1rem;
    letter-spacing: .4rem;
    word-spacing: .2rem;
    color: #000;
}

.main .About {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}

.About .intro {
    margin: 10px;
    width: 460px;
}

.About .intro h3 {
    margin: 20px 0;
    font-size: 2rem;
}

.About .intro p {
    margin: 0 0 10px 0;
    line-height: 1.4;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.About .intro p a {
    color: #617172;
    text-decoration: none;
}

.About .head {
    margin: 10px;
}

.About .head img {
    width: 200px;
    border-radius: 40px;
}