html {
    font-style: 16px;
    font-family: 'SmileySans-Oblique';
}

* {
    margin: 0;
    padding: 0;
}

body {
    border: 5px solid #000;
    border-radius: 1px;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    box-sizing: border-box;
    margin: 0 5%;
    padding: 80px 0 120px;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    margin-right: 50px;
    width: 50px;
    flex-shrink: 0;
}

.toggle .bar {
    margin-top: 8px;
    width: 100%;
    height: 6px;
    background-color: #000;
    transition: all .3s;
}

.toggle .bar:nth-of-type(1) {
    margin: 0;
}

.toggle:hover .bar:nth-of-type(2) {
    width: 80%;
}

.toggle:hover .bar:nth-of-type(3) {
    width: 60%;
}

h1 {
    font-size: 3.8rem;
    opacity: 0.8;
}


.content {
    margin: 0 5%;
    width: 90%;
}

.content .title {
    margin: 0 0 220px;
    width: 100%;
}

.title h2 {
    position: relative;
    width: 100%;
    line-height: 1.4;
    font-weight: 900;
    letter-spacing: .1rem;
}
.title h2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background-color: transparent;
    border: 4px solid #000;
}

.title span {
    display: block;
}
.title h2 span:nth-of-type(1) {
    font-size: 3.8rem;
    text-indent: 4px;
}
.title h2 span:nth-of-type(2) {
    font-size: 2.8rem;
}

.Projects {
    width: 100%;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    position: relative;
    margin: 40px 15px;
    padding: 20px;
    width: 240px;
    height: 360px;
    background-color: #fff;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    transition: all .5s;
}

.card/*:nth-of-type(1)*/:hover {
    border-top: 2px solid rgb(100, 100, 255);
    border-left: 2px solid rgb(0, 0, 255);
    box-shadow: 5px 5px 0 rgba(0, 0, 255, 1), 10px 10px 0 rgba(0, 0, 255, 0.7), 15px 15px 0 rgba(0, 0, 255, 0.4), 20px 20px 0 rgba(0, 0, 255, 0.1);
}

.card-image {
    position: relative;
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0;
}
.card:nth-of-type(1) .card-image {
    background: url('Projects-image/Project1.png') no-repeat center center;
    background-size: cover;
}
.card:nth-of-type(2) .card-image {
    background-color: #eee;
    background-size: cover;
}
.card:nth-of-type(3) .card-image {
    background-color: #eee;
    background-size: cover;
}

.card-description {
    padding: 10px 4px;
    width: 100%;
}

.card-description h3 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    letter-spacing: .5rem;
    color: rgb(50, 100, 200);
}
.card:nth-of-type(2) .card-description h3 {
    color: rgb(250, 150, 50);
}
.card:nth-of-type(3) .card-description h3 {
    color: rgb(100, 200, 200);
}

.card-description p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1rem;
}